//Colors


$green = #42C877
$green-darker = #3DC071
$yellow = #FCBF42
$yellow-darker = #FCAE68
$red = #E34F48
$red-darker = #CB6B66;
$grey = #E0E0E4;
$grey-light = #F5F4F9;
$black = #000;
$white = #fff;
$blue = #69AFFD;
