md-dialog(style='background-color:transparent; box-shadow:none', layout='column', aria-label='Loading', flex)
  div.md-dialog-content(layout='row', layout-align='center center', flex)
    md-progress-circular(md-mode='indeterminate',)